<form class="box" action="/dashboard/addStation" method="POST">
  <div class="field-body is-grouped mb-3"> <!-- To group input lines on one line -->
    <div class="field">
      <label class="label">Station Name</label>
      <input class="input has-background-warning-light" type="text" placeholder="Enter station name" name="title">
    </div>
    <div class="field">
      <label class="label">Latitude</label>
      <input class="input has-background-warning-light" type="text" placeholder="00.00" name="latitude">
    </div>
    <div class="field">
      <label class="label">Longitude</label>
      <input class="input has-background-warning-light" type="text" placeholder="00.00" name="longitude">
    </div>
  </div>
  <button class="button has-background-warning">Add Station</button>
</form>
      
  
  