<form class="box box-link-hover-shadow" action="/station/{{station._id}}/addreport" method="POST">
  <label class="title is-4">
    <strong>Add Report</strong>
    </label>
  <div class="field is-horizontal mt-6">
    <div class="field-body">
      <div class="field">
        <p>
          <strong>Weather Code</strong>
        </p>
        <input class="input has-background-warning-light" type="text" placeholder="00" name="code">
      </div>
      <div class="field">
        <p>
          <strong>Temperature</strong>
        </p>
        <input class="input has-background-warning-light" type="text" placeholder="00.0°C" name="temperature">
      </div>
      <div class="field">
        <p>
          <strong>Wind Speed</strong>
        </p>
        <input class="input has-background-warning-light" type="text" placeholder="00.00kMh" name="windSpeed">
      </div>
      <div class="field">
        <p>
          <strong>Wind Direction</strong>
        </p>
        <input class="input has-background-warning-light" type="text" placeholder="000deg" name="windDirection">
      </div>
      <div class="field">
        <p>
          <strong>Pressure</strong>
        </p>
        <input class="input has-background-warning-light" type="text" placeholder="00.00hPa" name="pressure">
      </div>
    </div>
  </div>
  <button class="button has-background-warning">Add Report</button>
</form>