<form class="box" action="/station/{{station._id}}/addreport" method="POST">
  <label>Enter Track Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="00" name="code">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="00.0°C" name="temperature">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="00.00" name="wind speed">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Track</button>
</form>