<div class="title p-3 is-flex">
  <svg width="44" height="44" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path
      d="https://openweathermap.org/img/wn/11d@2x.png"
    />
  </svg>
  <div class="ml-4">WeatherTop Application</div>
</div>