<nav class="navbar has-background-white-ter mb-6">
  <div class="navbar-brand">
    {{> brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button has-background-warning-light" href="/dashboard"> Dashboard </a>
          <a id="about" class="button has-background-warning-light" href="/about"> About </a>
          <a id="profile" class="button has-background-warning-light" href="/profile"> Profile </a>
          <a id="logout" class="button has-background-warning-light" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  var activeElement = document.getElementById("{{active}}"); // changed script to find active id, remove previous colour, and then add new colour
  activeElement.classList.remove("has-background-warning-light");
  activeElement.classList.add("has-background-warning");
</script>