<nav class="navbar has-background-white-ter mb-6" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{> brand}}
    <span class="navbar-burger has-background-white-ter" data-target="navMenu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </span>
  </div>
  <div class="navbar-menu has-background-white-ter" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button has-background-warning-light" id="login" href="/login"> Log in </a>
          <a class="button has-background-warning-light" id="signup" href="/signup"> Sign up </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  var activeElement = document.getElementById("{{active}}"); // changed script to find active id, remove previous colour, and then add new colour
  activeElement.classList.remove("has-background-warning-light");
  activeElement.classList.add("has-background-warning");
</script>