{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title has-text-warning">
    WeatherTop Application
  </h3>
  <div class="section">
    <p class="subtitle mb-6">
      Prepare with WeatherTop!
    </p>
    <div>
      <p class="subtitle">
        WeatherTop is everyone's go-to app for all weather-related information, allowing you to stay up to date with the current weather all across the globe. <br>
        Find stations all around the world right here at the touch of your finger tips. Can't find a station? Well, don't worry, WeatherTop knows a lot, but not everything, so you can add your own station and reports.
      </p>
    </div>
    <div>
      <p class="subtitle is-italic mt-6">
        WeatherTop Application - Version <em class="has-text-warning">*Lost Count*</em>
      </p>
    </div>
  </div>
</section>