{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Station List //maybe change
  </h3>
  <div class="section">
    <p>
      WeatherTop Application 
    </p>
  </div>
</section>