{{> welcome-menu}}

<section class="box box-link-hover-shadow has-text-centered">
  <h1 class="title mb-6">Welcome to WeatherTop</h1>
  <div>
    <figure class="image is-inline-block" id="index-logo">
      {{>icons/logo}}
    </figure>
  </div>
  <p class="subtitle is-5 mt-6"> <em>Sign up</em> or <em>Log in</em> above to begin viewing current station reports... </p>
</section>

