{{> welcome-menu active="login"}}

<section class="box box-link-hover-shadow">
  <h1 class="title mb-6">Log in</h1>
  <form action="/authenticate" method="POST">
    <div class="field">
      <label class="label">Email</label> <input class="input has-background-warning-light" type="text" placeholder="Enter email" name="email">
    </div>
    <div class="field">
      <label class="label">Password</label> <input class="input has-background-warning-light" type="password" placeholder="Enter Password" name="password">
    </div>
    <div class="field is-grouped">
      <button class="button is-warning">Submit</button>
    </div>
  </form>
</section>
