{{> welcome-menu active="signup"}}

<section class="box box-link-hover-shadow has-background-white-ter">
  <h1 class="title">Sign up</h1>
  <form action="/register" method="POST">
    <label class="label">Name</label>
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <input class="input has-background-warning-light" type="text" placeholder="Enter first name" name="firstName">
        </div>
        <div class="field">
          <input class="input has-background-warning-light" type="text" placeholder="Enter last name" name="lastName">
        </div>
      </div>
    </div>
    <div class="field">
      <label class="label">Email</label> <input class="input has-background-warning-light" type="text" placeholder="Enter email" name="email">
    </div>
    <div class="field">
      <label class="label">Password</label> <input class="input has-background-warning-light" type="password" placeholder="Enter password" name="password">
    </div>
    <div class="field is-grouped">
      <button class="button is-warning">Submit</button>
    </div>
  </form>
</section>