{{> menu}}

<section class="section">
  <div class="title has-text-warning is-1 mb-6"> <!-- add text shading in CSS -->
    {{station.title}}
  </div>
  {{> list-reports}}
  {{> add-report}}
</section>
