#index-logo img {
    width: 100px; 
    height: auto; 
}

#map { 
    height: 300px; 
}

/* Reference: https://stackoverflow.com/questions/50043803/how-to-make-an-element-fill-the-remaining-viewport-height */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
  
table .button-cell {
    border: none;
}

.password-container {
    position: relative;
}

/* Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/visibility */
.hidden-password {
    visibility: hidden; 
}

.password {
    display: inline; 
  }

/* Reference: https://www.w3schools.com/cssref/sel_hover.php */
.password-container:hover .hidden-password { 
    visibility: visible;
    left: 0;
}

.password-container:hover .password {
    visibility: hidden;
}

