#index-logo img {
    width: 100px; 
    height: auto; 
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* fills the viewport height and gets rid of empty space that was appearing at bottom of some pages */ /* ref */
}
  
table .button-cell {
    border: none;
}

.password-container {
    position: relative;
}

.hidden-password {
    visibility: hidden; 
}

.password {
    display: inline; 
  }

.password-container:hover .hidden-password {
    visibility: visible;
    left: 0;
}

.password-container:hover .password {
    visibility: hidden;
}

#map { height: 300px; }
